$color-1: #ffffff;
$color-2: #00A7E0;
$color-3: #272727;
$color-4: #C3DEE8;
$color-5: #6CB56F;
$color-6: rgb(209, 20, 99);

$font-1: 'Lato', sans-serif;


$shadow-1: 0px 20px 30px rgba(58, 136, 160, 0.1);
$shadow-2: 0px 30px 80px rgba(58, 136, 160, 0.35);